<h1>Accesible Modal Component</h1>
<p>Welcome to the acccesible modal testing page!</p>
<button type="button" class="button button-primary" (click)="show()">
  Show Modal
</button>
<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" [(value)]="firstName" />
  </div>
  <div class="form-field">
    <label for="surname">Surname</label>
    <input type="text" id="surname" />
  </div>
  <div class="form-field">
    <label for="age">Age</label>
    <input type="text" id="age" />
  </div>

  <label for="info">Subscribe</label>
  <input id="info" type="checkbox" (change)="info = !info" />
  <!-- Aplica a animação @fade no evento do ngIf -->
  <p [@fade] *ngIf="info">This is a placeholder</p>

  <div class="button-group">
    <button type="button" class="button button-primary">Submit</button>
    <button
      type="button"
      class="button button-secondary"
      (click)="modalRef.close()"
    >
      Cancel
    </button>
  </div>
</ng-template>
